uvicorn==0.34.2
python-decouple~=3.8
dnspython~=2.7.0
requests==2.32.3
humanize==4.12.3
coloredlogs~=15.0.1
verboselogs~=1.7
fastapi==0.115.12
PyJWT==2.10.1
fastapi-utils==0.8.0
fastapi-analytics==1.2.5
typing-inspect==0.9.0
