uvicorn==0.30.6
python-decouple~=3.8
dnspython~=2.6.1
requests==2.32.3
humanize==4.10.0
coloredlogs~=15.0.1
verboselogs~=1.7
fastapi==0.114.2
PyJWT==2.9.0
fastapi-utils==0.7.0
fastapi-analytics==1.2.3
